
@import "tailwindcss";
@import "tailwindcss-intersect";
@plugin "tailwindcss-motion";
@plugin "flyonui";
@import "flyonui/variants.css"; /* Require only if you want to use FlyonUI JS component */

@source "flyonui/dist/index.js"; /* Require only if you want to use FlyonUI JS component */



@theme {
    --font-sans: "Cormorant Garamond", "Cinzel", "Inter", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --animate-scroll: infinite-scroll 120s linear infinite;
    --animate-logo: infinite-scroll 5s linear infinite;
    --animate-news: infinite-scroll 60s linear infinite;
    --animate-reverse: infinite-reverse 60s linear infinite;
    --animate-wiggle: wiggle 1s ease-in-out infinite;

    @keyframes wiggle {

        0%,
        100% {
            transform: rotate(-3deg);
        }

        50% {
            transform: rotate(3deg);
        }
    }

    @keyframes infinite-scroll {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes infinite-reverse {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0%);
        }
    }
}

html,
body {
    @apply bg-white dark:bg-gray-950;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}
*:not(.shaped){
    @apply rounded-none;
}